[run]
source = 
    src
    train.py
    app.py

omit =
    *.csv
    *.ipynb
    deploy.sh
    tests/*

[report]
# This tells coverage to skip lines under these blocks completely
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    
    # Add patterns that match your app initialization if needed:
    app\.run