[run]
source = 
    src
    train.py
    app.py

omit =
    tests/*
    *.csv
    *.ipynb
    deploy.sh
    mlruns/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    except Exception:
    except FileNotFoundError:
    except Exception as e:
    return None
    print